<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>

//1)웹 프로그래밍
//1. 사이트 주소를 입력한다
//2.웹 페이지를 요청한다
//3.해당 웹 페이지를 찾는다
//4. 찾은 웹 페이지를 보낸다

//새로운 정보를 바로바로 제공해야 하는데
//=>동적페이지 등장!!!!

//다양한 정보를 얻거나 저장하기 위해 등장한 언어
//=>PHP, ASP, 서블릿/JSP

//서버:사용자의 요청이 들어오면 이에 대한 처리를 한 결과 페이지를 전송하는
//웹 서버(web server)와 db연동을 처리하는 비즈니스 로직이 구현되어야 하는
//웹 애플리케이션 서버(Web Applicaition Server:WAS)로 이루어져 있다
//ex)대표적인 WAS:Tomcat,Weblogic,Oracle9iA
//Tomcat은 웹 서버 기능도 포함되어있다

//3)서블릿과 JSP
//Servlt:Server+Applet 합성어
//:서버에서 실행되는 Applet
//:자바 클래스 형태의 웹 애필리케이션
//javax.servlet.http 패키지에서 제공하는 HttpServlet클래스를 상속받아 쿠현해야함

//상속받는이유: HttpServlet에 웹 애플리케이션으로 동작하도록 하는 기본 동작 
//즉, 요청에 대한 응답이 가능하도록 하는 내용이 들어있기 때문에 상속받아야함

//4)클라이언트가 서버에 요청하는 방식
//1. get방식 : 주소창을 타고 넘어가기 때문에 서버로 보내는 데이터를
//사용자가 그대로 볼 수 있다. 보안에 취약하며 255자 이하의 적은 양의 
//데이터를 전송한다.
//2. post방식 : header를 타고 넘어가기 때문에 
//보안에 강하다. 255자 이상의 대용량 데이터를 전송한다.
//=>get방식으로 요청하면 doGet()가 호출
//=>post방식으로 요청하면 doPost()가 호출
<form action=”a” method=”get”>
	<input type=”submit” value=”전송”>
</form>
<form action=”a” method=”post”>
	<input type=”submit” value=”전송”>
</form>

//WAS(톰캣엔진)이 메소드가 겟인지 포스트인지 찾아서
//겟이면 서블렛의 doGet()으로가고 
//메소드의 디폴트는 get이고
//메소드가 포스트면 적어줘야 되고
//form=action의 a태그는 안적어줘도 겟?이다

//5)서블릿 요청 URL
//http://localhost:8080/A0106/AddServlet
//기본 포트번호 : 8080으로 설정해준다
//Context Path(컨텍스트 패스) : A0106 -> 웹 서버까지 접근했다면 
//어떤 서비스를 받을지에 따라 달라지는데, 이후에 나오는 문자열을 컨텍스트 패스(A0106)라고 하고,
//이에 따라 요청되는 웹 애플리케이션(AddServlet)이 달라진다.

//----------------------------------------
//6)서버는 사용자가 입력한 값을 어떻게 얻어와야 할까?
//->쿼리 스트링(Query String)기술을 사용
//MServlet?id=sjwsrh&study=java
//(리소스?이름=값)
//http://localhost:8080/A0106/ParamServlet?id=sjwsrh&st=java

//7) 사용자가 폼에 입력한 값을 서블릿에서 어떻게 얻어 오는지?
//=>request 객체의 getParameter()를 호출하여 <input>태그를 통해 입력된 값을 읽어올 수 있다.
//원하는 값을 얻기 위해 입력의 name 속성 값을 getParameter()의 매개변수로 쓴다.


//8)유효성 검사
//:사용자가 폼에서 입력한 데이터 값이 서버로 전송되기 전에 잘 맞게 입력되었는지 검증하는 것.

//사용자가 폼에 입력한 데이터가 유효해야만 이를 서버에서 정상 처리할 수 있기 때문에 
//서버로 보내기 전에 입력된 데이터가 유효한지 판단하여 
//유효하지 않으면 사용자가 다시 데이터를 입력하도록 해야한다.(유효성검사)
//=>자바스크립트 가능!()웹 브라우저에서 검사처리하므로 서버에서 처리하는 것보다는 빠르다.)
//Ex) 형식:document.폼이름.입력양식 이름.value==
//Ex) 형식:document.폼이름.입력양식 이름.value.length==
//Ex) 형식:isNaN(document.폼이름.입력양식 이름.value.length)
//...

//9)label태그
//<label>태그의 for속성에 입력 양식의 id값을 매칭하면 두 태그는 연결이 됨.

//10)사용자에게 정보를 제공하기 위해서 HTML태그를 사용해 웹브라우저 내에 정보 표시 : jsp
http://localhost:8080/Test2/a.jsp

//11)JSP(Java Server Page): html태그에 자바로 프로그래밍하여 브라우저에 보여주는 페이지

//1. 브라우저에서 jsp페이지를 웹 서버에게 요청
//2. 웹서버는 jsp에 대한 요청을 서블릿 컨테이너에게 넘긴다. 서블릿 컨테이너는 해당 jps를 찾아
//서블릿 파일(.java)을 생성한다.
//3. 서블릿 파일은 컴파일이 되어 서블릿 클래스 파일을 생성
//4. 서블릿 클래스 파일을 웹 서버로 보냄
//5. 사용자는 서블릿 출력결과인 html형태로 응답결과 보게됨

//선언문 : <%! %>전역변수선언 메소드선언
//스크립트릿 : <% %>지역변수선언
//표현식 : <%= %> 출력문(PrintWriter의 out이라는 내장객체)
//주석1 : <!--  -->html형식의 주석
//주석2 : <%-- --> jsp형식의 주석


//----------------------------------------
//12) JSP 지시자(이클립스 맨위에 있는거)
//- 태그 안에서 @로 시작하며 page, include, taglib 3가지 종류가 있음.
//page: 해당 jsp 페이지 전반적으로 환경을 설정할 내용 지정(language, contentType, pageEncoding)
//contentType:jsp페이지의 MIME타입 결정
//include: 현재 페이지에 다른 파일의 내용을 삽입할 때 사용
<%@ include file="URL"%>
//taglib: 태그 라이브러리에서 태그를 꺼내와 사용할 수 있는 기능 제공.

//----------------------------------------

//13)JSP 내장객체
//jsp 페이지에서 개발자가 객체를 생성하는 과정 없이 바로 사용할 수 있는 객체를 말함
//=>jsp가 서블릿으로 변환될 때 jsp컨테이너가 객체를 자동으로 생성해 주기 때문

//-1.out 내장객체
//:서버에서 클라이언트로 열려있는 출력 스트림
//-2.request 내장객체
//:클라이언트와 웹 서버 사이의 요청과 관련된 정보는 request 객체에 저장되어 관리됨
//-3.response 내장객체
:클라이언트에 대한 응답처리를 하는 객체
실행결과를 브라우저로 되돌려 줄 때 사용하는 객체
//**sendRedirect();

//**중요!!!!!!!!
//<jsp에서 다른 페이지로 이동하기 위한 방법>
//1.Redirect -> 브라우저 URL변경하도록 sendRedirect("이동하고 싶은 페이지주소")
//=>request,response객체 유지안됨
//이철수가 식당에 전화를 걸어서 "예약가능? -> 알바생이 아니라 ai가 받아서 1번 누르라고 알려줬다"
//=>철수가 다시 1번으로 문의를 해서 처리한다.(url 주소가 또 바뀌었다=>한번더 접근한다)

//2. Forward->requestDispatcher 객체로 접근해야함
//=>브라우저는 알아채지 못하고 URL도 변경되지 않는다
//=>request, response 객체 유지 됨
//이철수가 식당에 전화를 걸어서 "예약가능?->알바생이 누구한테 물어보고 와서 답을 준다"(url주소가 바뀌지 않았다)
//->알바생은 처리해준다.

:브라우저가 결과를 받으면 요청과 관련된 request 내장객체는 사라진다.
=>브라우저가 요청을 할 때마다 새로운 request 내장객체가 생성된다.

//-4.application 내장객체
//:하나의 웹 애플리케이션을 관리하고 웹 애플리케이션 안에서의 자원을 공유한다.

//-5.session 내장객체
//:웹 브라우저를 닫기 전까지 페이지를 이동하더라도 
//사용자의 정보를 잃지 않고 서버에 보관할 수 있도록 하는 객체

//-6.page 내장 객체
//:한 번의 클라이언트 요청에 하나의 jsp 페이지를 범위로 갖는다.

//연결이 유지되는 순서는? page,request,session,application 순서이다.


//----------------------------------------
//14)액션 태그
//-1.<jsp:forward>
//:다른 사이트로 이동할 때 사용, 페이지의 흐름을 제어할 때 사용

//-2.<jsp:include>
//:데이터를 현재 페이지의 내용에 포함시킨다(모듈화)

//-3.<jsp:param>
//:파라미터 추가할 떄 사용

//-4.<jsp:useBean>
//:빈(Bean)을 생성하고 사용하기 위한 환경을 정의하는 태그

//-5. <jsp:setProperty>
//:액션은 빈에서 속성 값 할당

//-6. <jsp:getProperty>
//:속성값을 얻어올 때 사용

//**액션태그를 사용하는 이유
//=>자바 코드로 기술하기 보다는 액션태그로 기술하는 것이 더 깔끔하게 코딩할 수있어 가독성이 높아진다.(클린코딩)
//=>또한, 코드의 양을 대폭 줄일 수 있다.


15. 쿠키(Cookie)
-HTTP 프로토콜은 비연결 지향 통신 프로토콜
사용자가 서버에 정보 요청하면 서버는 응답한 후 연결을 끊는다.
=> 또 정보 요청하면 서버는 이전정보를 기억못한다. =>웹 페이지 구현에 많은 어려움..
=>쿠키 등장:사용자의 정보를 지속적으로 유지하기 위한 방법
=>서버가 아닌 클라이언트 컴퓨터의 하드디스크에 사용자의 정보를 저장하기 때문에 서버부하에 부담을 주지않는다.
=>사용자에 대한 정보를 보관해 두었다가 웹 서버 요청에 의해 정보를 우너하는 순간 사용할 수 있게 한다.
=>오래된 쿠키는 자동으로 삭제됨

1. 쿠키 객체 생성
2. 쿠키에 속성 값 저장
3. addCookie()를 호출해 쿠키 추가
(but, 보안에 취약하다->세션, 디비 등장..)

쿠키의 단점을 극복하기 위해
16. 세션
-서버에서만 접근 가능하므로 보안 유지에 강력
-저장할 수 있는 데이터에 한계가 없다.
-세션은 서버 상에 존재하는 객체로서 브라우저 단위당 한개씩 존재한다.
-웹 브라우저를 닫기 전까지 페이지를 이동하더라도 사용자의 정보를 잃지 않고 서버에 보관한다.





</body>
</html>
